html, body, .grid-container { height: 100%; margin: 0; }
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "sidebar input input"
    "sidebar post keywords"
    "sidebar graph graph";
}
.sidebar { 
  grid-area: sidebar; 
  background: rgb(230, 132, 195);
  display: flex;
  justify-content: center;
 
}

.input { 
  grid-area: input;
}

.post { 
  grid-area: post; 
  height: 100%;
}
.keywords { grid-area: keywords; 
height: auto;}
.graph { grid-area: graph; }

tr {
  text-align: center;
}
/* For presentation only, no need to copy the code below */
/* .grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */
