<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="../static/css/dashboard.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/graph.scss" type="text/css" />
  </head>
  <body>
    <div class="grid-container">
    
      <!-- Sidebars -->

      <div class="sidebar mr-4">
        <div>

          <a class="navbar-brand" href="index.html">
            <img
              class="mb-2 center-block"
              src="../static/assets/images/logo-1.png"
              style="width: 200px; height: 100px"
          /></a>
        </div>
<div>

</div>
      </div>

<!--  Input Form -->
      <div class="input mt-4 mr-4">
        <form action="/inputform" method="post" enctype=multipart/form-data>

        <div class="form-group">
          <label>Enter Instagram Username:</label
          ><input
            class="form-control item"
            type="text"
            id="subject-1"
            name="instausername"
          />
        </div>
        <div class="form-group">
          <label>Enter Instagram Password:</label
          ><input
            class="form-control item"
            type="text"
            id="subject-2"
            name="instapassword"
          />
        </div>
        <div class="form-group">
          <label>Duration:</label
          ><input
            class="form-control item"
            type="text"
            id="subject-2"
            name="duration"
          />
        </div>
        <input
          type="file"
          name="files[]"
          multiple="true"
          autocomplete="off"
          required
        />
        <div class="form-group">
          <button>Analyze</button>
          <div class="bootstrap_img_upload"></div>
        </div>
      </div>

<!-- Popular Post Output -->
      <div class="post mr-4">
        <div class="card">
          <div class="card-header">Most Popular Product:</div>
          <img
            src="../static/assets/images/phones.png"
            style="width: 500px; height: 500px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
      <!-- CAPTION HERE -->
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
         <!-- HASH TAGS HERE -->    
            <p class="card-text">
              #likes #like #follow #likeforlikes #love #followforfollowback
              #instagood #instagram #followme #photooftheday #l #instalike
              #bhfyp #photography #likeforfollow #instadaily #likeforlike
              #followers #me #beautiful #picoftheday #f #myself #followback
              #smile #fashion #followforfollow #comment #likesforlikes #bhfyp
            </p>
          </div>
        </div>
      </div>

<!-- Top Keywords -->
      <div class="keywords mr-4">
        <div class="card">
          <div class="card-header">Top 10 Hashtops:</div>
          <div class="card-body">
            <button type="button" class="float-right btn btn-light mb-4">
              Copy
            </button>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

<!-- Graphs  -->
      <div class="graph mb-4 mr-4">
        <div class="card">
          <div class="card-header">Trends:</div>
          <div class="card">
      graph here
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
